In [ ]:
from datasets import load_dataset

In [ ]:
import pandas as pd

In [ ]:
ds = load_dataset("iapp_wiki_qa_squad")

In [ ]:
train = ds["train"]

In [ ]:
df = pd.DataFrame.from_dict(
    {
        "INSTRUCTION": train["question"],
        "RESPONSE": [i["text"][0] for i in train["answers"]],
        "SOURCE": ["wikipedia"] * len(train["answers"]),
    }
)

In [ ]:
df

,INSTRUCTION,RESPONSE,SOURCE
0,พัทธ์ธีรา ศรุติพงศ์โภคิน เกิดวันที่เท่าไร,3 ธันวาคม พ.ศ. 2533,wikipedia
1,พัทธ์ธีรา ศรุติพงศ์โภคิน มีฃื่อเล่นว่าอะไร,อร,wikipedia
2,พัทธ์ธีรา ศรุติพงศ์โภคิน ทำอาชีพอะไร,นักแสดงหญิงชาวไทย,wikipedia
3,พัทธ์ธีรา ศรุติพงศ์โภคิน จบการศึกษาจากประเทศอะไร,ประเทศนิวซีแลนด์,wikipedia
4,บิดาของคลีโอพัตราเป็นใคร,ทอเลมีที่ 12 ออเลติส,wikipedia
...,...,...,...
5756,จำนวนผู้หญิงที่แก้ไขข้อมูลบนวิกิพีเดียคิดเป็นร...,8.5 – 16,wikipedia
5757,จำนวนผู้หญิงสหรัฐที่แก้ไขข้อมูลบนวิกิพีเดียคิด...,22.7%,wikipedia
5758,ปลาตะกากมีชื่อเรียกทางวิทยาศาสตร์ว่าอย่างไร,ชื่อวิทยาศาสตร์ว่า Cosmochilus harmandi,wikipedia
5759,ปลาตะกากถือว่าเป็นปลาน้ำจืดที่จัดอยู่ในวงศ์ใด,วงศ์ปลาตะเพียน (Cyprinidae),wikipedia
5760,ปลาตะกากมักพบเลี้ยงเป็นปลาสวยงามมีชื่อในวงการว...,กระมังครีบสูง,wikipedia

In [ ]:
df.to_parquet("dataset.parquet", row_group_size=100, engine="pyarrow")

In [ ]:
from datasets import Dataset

ds = Dataset.from_parquet("dataset.parquet")

In [ ]:
ds.push_to_hub("wannaphong/iapp_wiki_qa_squad_oa")